<% content_for(:html_title) {'タスクの新規登録'} %>

<h1>タスクの新規登録</h1>
<p><%= button_to '戻る', 'javascript:history.back()', {method: :get} %></p>
<%= render partial: 'form', locals: {task: @task, text: '新規登録'} %>
